@if (resumen(); as datos) {

  <div class="overlay">

    <section class="modal-impuestos">

      <header class="modal-header">

        <h2>
          Impuestos
        </h2>

        <div class="acciones-header">

          <button
            type="button"
            class="fecha-contenedor"
            (click)="abrirCalendario()">

            <span class="fecha-visible">
              {{ obtenerMesTexto() }}
            </span>

          </button>

          <input
            #selectorMes
            type="month"
            [(ngModel)]="mesSeleccionado"
            (change)="cambiarMes()"
            class="selector-mes-real"
          >

          <button
            type="button"
            class="boton-cerrar"
            (click)="cerrarModal()"
            aria-label="Cerrar">
            ×
          </button>

        </div>

      </header>


      <div class="panel-contenido">

        <div class="tarjeta-impuesto">

          <p>
            Ingresos extras total:
            <strong>
              {{
                formatearMoneda(
                  datos.ingresosExtra.total
                )
              }}
            </strong>
          </p>

          <p>
            Monto de impuesto por pagar:
            <strong>
              {{
                formatearMoneda(
                  datos.ingresosExtra.impuesto
                )
              }}
            </strong>
          </p>

        </div>


        <div class="tarjeta-impuesto">

          <p>
            Ingresos variables total:
            <strong>
              {{
                formatearMoneda(
                  datos.ingresosVariables.total
                )
              }}
            </strong>
          </p>

          <p>
            Monto de impuesto por pagar:
            <strong>
              {{
                formatearMoneda(
                  datos.ingresosVariables.impuesto
                )
              }}
            </strong>
          </p>

        </div>


        <div
          class="tarjeta-impuesto tarjeta-total">

          <p>
            Total de impuesto a pagar:
            <strong>
              {{
                formatearMoneda(
                  datos.totalImpuestos
                )
              }}
            </strong>
          </p>

        </div>

      </div>

    </section>

  </div>

}


@if (error()) {

  <div class="overlay">

    <section class="modal-impuestos">

      <header class="modal-header">

        <h2>
          Impuestos
        </h2>

        <button
          type="button"
          class="boton-cerrar"
          (click)="cerrarModal()">
          ×
        </button>

      </header>

      <div class="panel-contenido">

        <div class="estado-error">
          {{ error() }}
        </div>

      </div>

    </section>

  </div>

}